.mail-list-container {
    padding: 2em 0;

    .mail-table {
        place-self: center;
        width: 75vw;
        border-collapse: collapse;
        background-color: #e9eef5;

        th {
            padding: .5em;
        }

        tr {
            border-bottom: 1px solid rgb(223, 219, 219);

            td {
                padding: .5em;
            }
        }
    }
}

.mail-preview {
    cursor: pointer;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

    .from-col {
        font-weight: bold;
    }

    .subject-col {
        .mail-subject {
            font-weight: 520;
        }

        .mail-short-body {
            opacity: 0.5;
        }
    }

    .date-col {
        position: relative;
        text-align: center;
    }

    .stars-col {

        .star-icon {
            font-size: 1.4em;
        }

        .star-icon.starred {
            color: gold;
        }
    }
}

.mail-preview:hover {
    .date-col {
        .mail-preview-date {
            opacity: 0;
        }

        .preview-action-buttons {
            opacity: 1;
            transition: opacity 0.3s ease-in;
        }
    }
}

.mail-preview {
    .date-col {
        .preview-action-buttons {
            position: absolute;
            right: .8em;
            bottom: .2em;
            display: flex;
            opacity: 0;
            z-index: 10;

            button {
                font-size: 75%;
                border-radius: 50%;
                background-color: #dde0de;
            }
            button:hover{
                
                background-color: #bfc2c0;
            }
        }
    }
}

.mail-preview.read {
    background-color: white;
}
