.mail-index-container {
    /* gap: 2em; */
    /* justify-content: space-around; */

    .mail-filter-list {
        margin-left: .2em;
    }

    .hamburger-btn {
        position: fixed;
        margin: 1em .3em;
        display: none;
    }

    .compose-btn {
        width: 10em;
        margin: 3em 3em;
        background-color: #c2e7ff;
        border: none;
        height: 3em;
        border-radius: .8em;
        margin-left: 1em;
    }

    .mail-folders {
        margin-top: 2em;
    }
}

.hamburger-btn {
    /* position: fixed; */
    margin: .2em .2em;
    display: none;
}