.note-edit {
  justify-self: center;
  margin-block-start: 30px;
  padding: 20px;
  background-color: rgba(180, 188, 204, 0.514);
}

.note-edit form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  width: 400px;
  gap: 10px;
  margin-block-start: 20px;
}

.note-edit form input {
  width: 200px;
}

.note-edit form button {
  justify-self: center;
  grid-column: 1/-1;
}

.note-edit h2 {
  margin-block-end: 20px;
}
