.note-input-container {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.input-items {
  padding: 1em;
  background-color: var(--bg1);
}
.note-input-container button {
  background-color: aliceblue;
}
