.note-list-container {
  margin: 0;
}

.note-list {
  column-count: 6;
  column-width: 200px;
  column-gap: 1em;
  justify-content: center;
}

.note-list li {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: 0.5em;
  padding: 0.5em;
  background: var(--bg1);

  margin-block-start: 0;
  break-inside: avoid;
}

.note-list img {
  /* display: block; */
  max-width: 100%;
}

.note-list button {
  background-color: aliceblue;
  justify-self: end;
}

.note-card {
  border: 0.5em solid white;
}
