.home-container {
    margin-top: 100px;

    h1,
    p {
        justify-self: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
        font-size: 3em;
    }
}

.home .box-container {
    padding: 1em 0;
    justify-content: space-around;
    display: flex;
    min-width: 60vw;
    place-self: center;

}

.home .box {
    max-width: 150px;

    img {
        object-fit: contain;
    }

    .mail-icon:hover {
        animation: swing 1s ease-out;
    }

    .note-icon:hover {
        animation: heartBeat 1s ease-out;
    }

    .book-icon:hover {
        animation: wobble 1s ease-out;
    }
}

@media (max-width: 600px) {
    .home-container {
        h1 {
            font-size: 2em;
        }

        p {
            max-width: 60vw;
        }
    }
    .home .box {
        max-width: 80px;
    }

    .home .box-container {
        flex-direction: column;
        align-items: center;
    }
}